// use custom variables
@use "../custom" as *;

// About me section styling
.aboutme-section {
    background-color: $blue;
    overflow: hidden;
    .blue-wave {
        svg {
            position: relative;
            display: block;
            width: calc(160% + 1.3px);
            height: 177px;
        }

        .shape-fill {
            fill: $green;
        }
    }

    
}
