@use "../custom" as *;

.lang-menu {
    background: $green !important;

    a {
        color: $white !important;
        padding: 0 0.7rem;
        margin-left: 1rem;

        &.active {
            color: $red !important;
        }

        &:hover {
            color: $red !important;
        }
    }
}
