// use custom variables
@use "../custom" as *;

// Skills section styling
.skills-section {
    background-color: $cyan;
    overflow: hidden;

    .green-wave {
        svg {
            position: relative;
            display: block;
            width: calc(110% + 1.3px);
            height: 181px;
        }

        .shape-fill {
            fill: $blue;
        }
    }

    .grp-skill {
        &--header {
            background-color: $primary;
            box-sizing: border-box;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
        }

        &--footer {
            border-bottom: 2vh solid $primary;
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;
        }

        .skills-list {
            position: relative;
            background-color: $white;
            margin: 0;
            padding: 0;

            &:hover {
                li {
                    opacity: 0.1;
                }
            }

            li {
                background-color: $white;
                box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
                transition: transform 0.5s;

                p {
                    span.text,
                    span.icon {
                        vertical-align: middle;
                        display: inline-block;
                    }

                    span.icon {
                        height: 20px;
                        float: right;

                        svg.level {
                            visibility: hidden;
                            height: 20px;
                            width: 100px;

                            use:nth-child(2) {
                                transform: translate(20px);
                            }

                            use:nth-child(3) {
                                transform: translate(40px);
                            }

                            use:nth-child(4) {
                                transform: translate(60px);
                            }

                            use:nth-child(5) {
                                transform: translate(80px);
                            }
                        }
                    }
                }

                &:hover {
                    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
                    transform: scale(1.1);
                    z-index: 100;
                    background-color: $primary;
                    opacity: 1;

                    p {
                        span.icon {
                            svg.level {
                                visibility: visible;
                            }
                        }
                    }
                }
            }
        }
    }
}
