@use "../custom" as *;

.skills-section {
background-color: $cyan;

.green-wave {
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.green-wave svg {
    position: relative;
    display: block;
    width: calc(110% + 1.3px);
    height: 181px;
}

.green-wave .shape-fill {
    fill: #2685E3;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2vh 2vw;
}

.grp-skill {
    width: 300px;
    border-bottom: 2vh solid #2685E3;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    flex-grow: 1;
}

.grp-skill-header {
    color: black;
    background-color: #2685E3;
    padding: 1vh 2vh;
    margin: 0;
    box-sizing: border-box;
    font-size: 1.2em;
    font-weight: 700;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

ul.skills-list {
    position: relative;
    background-color: #FFFBFC;
    margin: 0;
    padding: 0;
}

ul.skills-list:hover li {
    opacity: 0.1;
}

ul.skills-list li {
    list-style: none;
    color: black;
    background-color: #FFFBFC;
    padding: 1vh;
    box-shadow: 0 5px 25px rgba(0, 0, 0, .1);
    transition: transform 0.5s;
}

span.icon {
    height: 20px;
    float: right;
}

span.text, span.icon {
    vertical-align: middle;
    display: inline-block;
}

ul.skills-list li p span.icon svg.level {
    visibility: hidden;
    height: 20px;
    width: 100px;
}

ul.skills-list li p span.icon svg.level use:nth-child(2) {
    transform: translate(20px);
}

ul.skills-list li p span.icon svg.level use:nth-child(3) {
    transform: translate(40px);
}

ul.skills-list li p span.icon svg.level use:nth-child(4) {
    transform: translate(60px);
}

ul.skills-list li p span.icon svg.level use:nth-child(5) {
    transform: translate(80px);
}

ul.skills-list li:hover {
    box-shadow: 0 5px 25px rgba(0, 0, 0, .2);
    transform: scale(1.1);
    z-index: 100;
    background-color: #2685E3;
    color: #FFFBFC;
    opacity: 1;
}

ul.skills-list li:hover p span.icon svg.level {
    visibility: visible;
}

}