// import custom bootstrap variables
@use "custom" as *;

// import components
@use "components/animations";
@use "components/buttons";
@use "components/mixins";
@use "components/typography";

// import sections
@use "sections/aboutme-section";
@use "sections/contact-section";
@use "sections/experience-section";
@use "sections/footer";
@use "sections/landing-section";
@use "sections/navbar";
@use "sections/skills-section";

// import pages
@use "pages/projects";

// body general styling
body {
    margin: 0;
    padding: 0;
    background: #124559;
}

// heading line styling
.heading-line {
    &::before {
        content: "";
        width: 15rem;
        height: 0.1rem;
        display: block;
        margin: 0 auto;
        background-color: $green;

        @include media-breakpoint-down(sm) {
            width: 10rem;
            height: 0.07rem;
        }
    }

    &::after {
        content: "";
        width: 3rem;
        height: 0.2rem;
        padding-top: 0.4rem;
        display: block;
        margin: 0 auto;
        background-color: $green;

        @include media-breakpoint-down(sm) {
            width: 2rem;
            padding: 0;
        }
    }

    &__light {
        &::before {
            content: "";
            width: 15rem;
            height: 0.1rem;
            display: block;
            margin: 0 auto;
            background-color: $red;

            @include media-breakpoint-down(sm) {
                width: 10rem;
                height: 0.07rem;
            }
        }

        &::after {
            content: "";
            width: 3rem;
            height: 0.2rem;
            padding-top: 0.4rem;
            display: block;
            margin: 0 auto;
            background-color: $red;

            @include media-breakpoint-down(sm) {
                width: 2rem;
                padding: 0;
            }
        }
    }
}
