/* General styling */
html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}


body {
    font-family: 'Dosis', sans-serif;
    margin: 0;
    padding: 0;
    background: #124559;
    color: #FFFBFC;
}

.section-title {
    font-size: 4em;
}

/* Header styling */

ul#lang-nav {
    margin-right: 1vh;
    text-align: right;
    padding: 0;
}

ul#lang-nav li {
    display: inline;
    list-style: none;
    padding-right: 2vh;
}

ul#lang-nav li a {
    text-decoration: none;
    color: #FFFBFC;
}

ul#lang-nav li a.active {
    color: #EF798A;
}

ul#lang-nav li a:hover {
    color: #EF798A;
}

/* Welcome section styling */

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 10vh 20vw;
}

section.splash-img img {
    border-radius: 50%;
    max-width: 350px;
    max-height: 350px;
}

section.splash-img img#personal-pic {
    min-width: 150px;
    min-height: 150px;
}

.blob-motion {
    position: absolute;
    transform: translateY(-25%);
    z-index: -99;
}

p#welcome-text {
    padding-top: 30px;
    font-size: 4em;
}

img#down-arrow {
    width: 50px;
    height: 50px;
}

/* About me section styling */

.blue {
    background: #2685E3;
}

.blue-wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.blue-wave svg {
    position: relative;
    display: block;
    width: calc(160% + 1.3px);
    height: 177px;
}

.blue-wave .shape-fill {
    fill: #124559;
}

p#aboutme-text {
    text-align: justify;
    text-justify: newspaper;
}

/* Skills section styling */

.green {
    background: #00CECB;
}

.green-wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.green-wave svg {
    position: relative;
    display: block;
    width: calc(110% + 1.3px);
    height: 181px;
}

.green-wave .shape-fill {
    fill: #2685E3;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-between;
    gap: 2vh 1vw;
}

.grp-skill {
    width: 300px;
    border-bottom: 2vh solid #2685E3;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.grp-skill-header {
    color: black;
    background-color: #2685E3;
    padding: 1vh 2vh;
    margin: 0;
    box-sizing: border-box;
    font-size: 1.2em;
    font-weight: 700;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

ul.skills-list {
    position: relative;
    background-color: #FFFBFC;
    margin: 0;
    padding: 0;
}

ul.skills-list:hover li {
    opacity: 0.1;
}

ul.skills-list li {
    list-style: none;
    color: black;
    background-color: #FFFBFC;
    padding: 1vh;
    box-shadow: 0 5px 25px rgba(0, 0, 0, .1);
    transition: transform 0.5s;
}

span.icon {
    height: 20px;
    float: right;
}

span.text, span.icon {
    vertical-align: middle;
    display: inline-block;
}

ul.skills-list li p span.icon svg.level {
    visibility: hidden;
    height: 20px;
    width: 100px;
}

ul.skills-list li p span.icon svg.level use:nth-child(2) {
    transform: translate(20px);
}

ul.skills-list li p span.icon svg.level use:nth-child(3) {
    transform: translate(40px);
}

ul.skills-list li p span.icon svg.level use:nth-child(4) {
    transform: translate(60px);
}

ul.skills-list li p span.icon svg.level use:nth-child(5) {
    transform: translate(80px);
}

ul.skills-list li:hover {
    box-shadow: 0 5px 25px rgba(0, 0, 0, .2);
    transform: scale(1.1);
    z-index: 100;
    background-color: #2685E3;
    color: #FFFBFC;
    opacity: 1;
}

ul.skills-list li:hover p span.icon svg.level {
    visibility: visible;
}

/* Work experience section styling */

.red {
    background: #EF798A;
}

.red-wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.red-wave svg {
    position: relative;
    display: block;
    width: calc(183% + 1.3px);
    height: 215px;
}

.red-wave .shape-fill {
    fill: #00CECB;
}

.bottom-red-wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.bottom-red-wave svg {
    position: relative;
    display: block;
    width: calc(183% + 1.3px);
    height: 215px;
}

a#toMyProjects {
    color: #FFFBFC;
    background-color: #c2606f;
    padding: 2vh;
    cursor: pointer;
    border-radius: 4px 4px;
    text-decoration: none;
}

.bottom-red-wave .shape-fill {
    fill: #124559;
}

/* Contact section styling */

.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    width: 20vw;
}

input, textarea {
    margin-bottom: 5vh;
    width: 100%;
    border-right: none;
    border-top: none;
    border-left: none;
    background-color: transparent;
    outline: none;
    color: #FFFBFC;
    caret-color: #FFFBFC;
}

input[type=text]::placeholder, textarea::placeholder {
    text-align: center;
    color: #FFFBFC;
}

input[type=submit] {
    background: #185C77;
    width: 100%;
    padding: 2vh;
    border: none;
    cursor: pointer;
    border-radius: 4px 4px;
}

.form-wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.form-wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 192px;
}

.form-wave .shape-fill {
    fill: #EF798A;
}

/* Footer styling */

ul#footer-nav {
    margin-right: 1vh;
    list-style: none;
    text-align: right;
}

ul#footer-nav li {
    display: inline-block;
    padding-right: 1vh;
}