/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge add Firefox */
  .scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none; /* Firefox */
  }


body {
    font-family: 'Dosis', sans-serif;
    margin: 0;
    padding: 0;
    background: #124559;
    color: #FFFBFC;
}

.section-title {
    font-size: 4em;
}

/* Header styling */


/* Welcome section styling */

p#welcome-text {
    font-size: 4em;
}

img#down-arrow {
    width: 50px;
    height: 50px;
}

/* About me section styling */

.blue {
    background: #2685E3;
}

.blue-wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.blue-wave svg {
    position: relative;
    display: block;
    width: calc(160% + 1.3px);
    height: 177px;
}

.blue-wave .shape-fill {
    fill: #124559;
}

p#aboutme-text {
    text-align: justify;
    text-justify: newspaper;
}

/* Skills section styling */

a#toMyProjects {
    color: #FFFBFC;
    background-color: #066968;
    padding: 2vh;
    cursor: pointer;
    border-radius: 4px 4px;
    text-decoration: none;
    margin-top: 5vw;
}

/* Work experience section styling */

.red {
    background: #EF798A;
}

.red-wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.red-wave svg {
    position: relative;
    display: block;
    width: calc(183% + 1.3px);
    height: 215px;
}

.red-wave .shape-fill {
    fill: #00CECB;
}

.bottom-red-wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.bottom-red-wave svg {
    position: relative;
    display: block;
    width: calc(183% + 1.3px);
    height: 215px;
}

ul.work-list{
    list-style: none;
}

ul.work-list li{
    display: inline-block;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: turquoise;
    width: 30vh;
    height: 30vh;
    margin-right: 2vh;
    text-align: center;
    line-height: 15vh;
}

ul.work-list li p{
 
}

a#fullCurriculum {
    color: #FFFBFC;
    background-color: #c26472;
    padding: 2vh;
    cursor: pointer;
    border-radius: 4px 4px;
    text-decoration: none;
    margin-top: 5vw;
}

.bottom-red-wave .shape-fill {
    fill: #124559;
}

/* Contact section styling */

.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    width: 20vw;
}

input, textarea {
    margin-bottom: 5vh;
    width: 100%;
    border-right: none;
    border-top: none;
    border-left: none;
    background-color: transparent;
    outline: none;
    color: #FFFBFC;
    caret-color: #FFFBFC;
}

input[type=text]::placeholder, textarea::placeholder {
    text-align: center;
    color: #FFFBFC;
}

input[type=submit] {
    background: #185C77;
    width: 100%;
    padding: 2vh;
    border: none;
    cursor: pointer;
    border-radius: 4px 4px;
}

.form-wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.form-wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 192px;
}

.form-wave .shape-fill {
    fill: #EF798A;
}

/* Footer styling */

ul#footer-nav {
    margin-right: 1vh;
    list-style: none;
    text-align: right;
}

ul#footer-nav li {
    display: inline-block;
    padding-right: 1vh;
}