// use custom variables
@use "../custom" as *;

.contact-section {
    .form-wave {
        svg {
            position: relative;
            display: block;
            width: calc(100% + 1.3px);
            height: 192px;
        }

        .shape-fill {
            fill: $red;
        }
    }

    .contact-info {
        padding: 3rem;

        &__links {
            &--logo {
                span {
                    display: inline-flex;
                    align-items: center;

                    i {
                        font-size: 3rem;
margin-right: 1rem;
                    }

                    a {
                        font-size: 1.5rem;
                        text-decoration: none;
                        background-color: $white;
                        padding: 0.2rem;
                        border-radius: 4px;
                    }
                }
            }
        }
    }

    .contact-form {
        padding: 3rem;

        input[type="submit"] {
            border: none;
            color: $white;
        }
    }
}
