@use "../custom" as *;

.footer {
    padding-top: 2rem;
    div {
        a {
            text-decoration: none;
            color: $white;

            &:hover {
                color: $red;
            }
        }
    }

    .modal {
        .modal-dialog {
            .modal-body {
                .tech-grid {
                    border-radius: 4px;
                    filter: blur(2px);

                    &:hover {
                        filter: none;
                        transition: 0.2s ease-in-out;

                        p {
                            display: block;
                            font-size: 1rem;
                            text-align: center;
                            transition: 0.1s ease-in-out;
                        }
                    }

                    p {
                        display: none;
                    }

                    i {
                        font-size: 4rem;
                    }

                    @each $icon, $color in $icons {
                        .fa-#{$icon} {
                            color: $color;
                        }
                    }
                }
            }
        }
    }
}
