@use "../custom" as *;

.footer {
    padding-top: 2rem;
    div{
        a {
            text-decoration: none;
            color: $white;
    
            &:hover {
                color: $red;
            }
        }
    }

    .modal{

        .modal-dialog{

            .modal-body{

                .tech-grid{
                    box-sizing: border-box;
                    width: 5rem;
                    margin: 0.1rem;
                    padding: 0;
                    border-radius: 4px;
                    i{
                        font-size: 4rem;
                    }
                }
            }
        }
    }


}
