@use "../custom" as *;

.btn-circle {
    margin-top: 2rem;
    width: auto;
    position: relative;

    i {
        font-size: 4rem;
        color: $white;
    }
}

.btn-rounded {
    padding: 1rem;
    background-color: $green-dark;
    border-radius: 6px;
    text-decoration: none;
    color: $white;

    &:hover {
        color: $red;
    }
}
